* {
    font-family: 'Lato';
    color: #212529;
}
body {
    margin: 0;
    padding: 0;
}

.top-header {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 65px;
}
.container {
    display: flex;
    width: 1350px;
    justify-content: space-between;
}
.logo {
    font-size: 20px;
    padding: 10px;
}
.logo a {
    display: flex;
    padding-top: 12px;
    margin-left: 18px;
    text-decoration: none;
}
.menu {
    background-color: #0d6efd;
    font-size: 20px;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
}
.sign-up {
    display: flex;
    padding: 8px;
    padding-top: 8px;
    text-decoration: none;
    font-size: 15px;
    color: #fff;
}
.banner_principal {
    background-image: url(../images/bg-masthead.jpg);
    height: 610px;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.banner-text {
    color: #fff;
    font-size: 49px;
    font-weight: bold;
    margin-top: -10px;
    flex-wrap: wrap;
}
.banner-mail {
    margin-top: 40px;
}
.insert-mail {
    margin-right: 25px;
    width: 500px;
    height: 60px;
    font-size: 18px;
    color: #6c757d;
    padding-left: 20px;
    border-radius: 5px;
    border: none;
}
.submit-mail {
    width: 105px;
    height: 62px;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    background-color: #3b7ee1;
    color: #fff;
}
.features-icons {
    display: flex;
    width: 100%;
    padding-top: 120px;
    padding-bottom: 120px;   
    justify-content: center;
    background-color: #fff;
}
.features-icons-icon {
    display: flex;    
    flex-wrap: wrap;
    width: 1100px;
    justify-content: space-between;
}
.janela {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.bi-window {
    color: #0d6efd;
    font-size: 80px;
}
.camada {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.bi-layers {
    color: #0d6efd;
    font-size: 80px;
}
.terminal {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.bi-terminal {
    color: #0d6efd;
    font-size: 80px;
}
.recursos_text h1 {
    margin-bottom: -3px;
    font-size: 28px;
}
.recursos_text p {
    font-size: 20px;
    line-height: 25px;
    font-weight: lighter;
}
.mostruario {
    display: flex;
    width: 100%;
    padding-top: 100px;    
    padding-bottom: 100px;
    background-color: blueviolet;
    justify-content: center;
}
.vitrines {
    display: flex;
    flex-direction: column;
    width: 1200px;
    background-color: burlywood;
}
.vitrine-1 {
    display: flex;
    justify-content: space-between;
}
.vitrine-2 {
    display: flex;
    justify-content: space-between;
}
.vitrine-3 {
    display: flex;
    justify-content: space-between;
}
